.square {
    width: 40px;
    height: 40px;
    background-color: blue;
    border: none;

}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
}
* {
  box-sizing: border-box;
}